
.whole-tabs-container{
    margin-top: 15px;
    box-shadow: rgb(232 232 232) 0px -0.5px 0px inset;
}

.tab-inner-container{
    /* margin-bottom: 10px; */
}

.img-container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    background-color: rgb(248, 248, 248);
}

.tab-img{
    height: 30px;
    width: 30px; 
}

.tab-title{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--tab-title-grey);
}

.tab-options{
    border-bottom: 2px solid transparent;
    padding: 10px 10px 14px 10px;
    width: 170px;
}

.borderbottom{
    border-bottom: 2.5px solid var(--tab-border-bottom);
}
.borderbottom .active-color{
    color: var(--zomato-red);
}