@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "./components/styles/commonClasses.css";
@import "./components/styles/variable.css";


body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}